<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://placehold.it/350x150">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    In sit amet pellentesque justo, sit amet tempor nunc. Nulla felis quam, sollicitudin in est ac, elementum cursus mi. Duis eleifend rhoncus dolor vel sodales. Donec quis auctor nulla. Nam massa dolor, tincidunt sed convallis ut, maximus et magna. Proin fringilla egestas sapien vitae imperdiet. Duis mauris ipsum, imperdiet sed ultricies condimentum, accumsan eu est. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque nec ipsum id velit tempor porttitor a et nibh. Fusce ullamcorper elementum sapien, nec posuere sapien rhoncus nec. In fringilla commodo tortor. Nulla varius neque dolor, mattis pharetra sem eleifend non.
  </div>
</div>